body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f0f0f0;
    text-align: center;
    background-image: url('nen.png');
    background-position: center center; /* Căn giữa hình nền */
    background-repeat: no-repeat;
    background-size: contain; /* Đảm bảo hình nền vừa với chiều cao và chiều rộng */
    height: 100vh;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#game-container {
    position: relative;
    width: 66vh;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

#bird {
    position: absolute;
    width: 30px;
    height: 30px;
}

.pipe {
    position: absolute;
    width: 50px;
}

.toppipe {
    top: 0;
}

.bottompipe {
    bottom: 0;
}

#score-container {
    position: absolute;
    top: 10px;
    left: 35%;
    font-size: 24px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.score {
    display: inline-block;
    font-size: 24px;
    color: white;
}

.score-container {
    margin: auto;
}